{% extends 'ndh.html' %}


{% block pagetitle %}{{ cineclub_name }}{% endblock %}
{% block sitetitle %}{{ cineclub_name }}{% endblock %}
{% block navbarleft %}
<li class="nav-item"><a class="nav-link" href="{% url 'cine:home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'cine:films' %}">Films</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'cine:ajout_film' %}">Ajouter un Film</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'cine:cinephiles' %}">Cinephiles</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'cine:adress' %}">Mon adresse</a></li>
{% endblock %}
